.btn-primary {
  --bs-btn-bg: var(--jk-color-primary);
  --bs-btn-border-color: var(--jk-color-primary);
  --bs-btn-hover-bg: color-mix(in srgb, var(--jk-color-primary), black 15%);
  --bs-btn-hover-border-color: color-mix(
    in srgb,
    var(--jk-color-primary),
    black 20%
  );
  --bs-btn-active-bg: color-mix(in srgb, var(--jk-color-primary), black 20%);
  --bs-btn-disabled-bg: var(--jk-color-primary);
  --bs-btn-disabled-border-color: var(--jk-color-primary);
}

.btn-outline-primary {
  --bs-btn-color: var(--jk-color-primary);
  --bs-btn-border-color: var(--jk-color-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--jk-color-primary);
  --bs-btn-hover-border-color: var(--jk-color-primary);
  --bs-btn-active-bg: var(--jk-color-primary);
  --bs-btn-active-border-color: var(--jk-color-primary);
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--jk-color-info);
  --bs-btn-border-color: var(--jk-color-info);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: color-mix(in srgb, var(--jk-color-info), black 15%);
  --bs-btn-hover-border-color: color-mix(
    in srgb,
    var(--jk-color-info),
    black 20%
  );
  --bs-btn-active-bg: color-mix(in srgb, var(--jk-color-info), black 20%);
  --bs-btn-disabled-bg: var(--jk-color-info);
  --bs-btn-disabled-border-color: var(--jk-color-info);
}

.btn-secondary {
  --bs-btn-color: var(--jk-color-dark);
  --bs-btn-bg: var(--jk-color-secondary);
  --bs-btn-border-color: var(--jk-color-secondary);
  --bs-btn-hover-color: var(--jk-color-dark);
  --bs-btn-hover-bg: color-mix(in srgb, var(--jk-color-secondary), black 15%);
  --bs-btn-hover-border-color: color-mix(
    in srgb,
    var(--jk-color-secondary),
    black 20%
  );
  --bs-btn-active-bg: color-mix(in srgb, var(--jk-color-secondary), black 20%);
  --bs-btn-disabled-bg: var(--jk-color-secondary);
  --bs-btn-disabled-border-color: var(--jk-color-secondary);
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--jk-color-warning);
  --bs-btn-border-color: var(--jk-color-warning);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: color-mix(in srgb, var(--jk-color-warning), black 15%);
  --bs-btn-hover-border-color: color-mix(
    in srgb,
    var(--jk-color-warning),
    black 20%
  );
  --bs-btn-active-bg: color-mix(in srgb, var(--jk-color-warning), black 20%);
  --bs-btn-disabled-bg: var(--jk-color-warning);
  --bs-btn-disabled-border-color: var(--jk-color-warning);
}

.text-bg-warning {
  color: #fff !important;
  background-color: RGBA(
    var(--bs-warning-rgb),
    var(--bs-bg-opacity, 1)
  ) !important;
}

.text-bg-success {
  color: #fff !important;
  background-color: RGBA(
    var(--bs-success-rgb),
    var(--bs-bg-opacity, 1)
  ) !important;
}

.text-bg-secondary {
  color: var(--jk-color-dark) !important;
  background-color: RGBA(
    var(--bs-secondary-rgb),
    var(--bs-bg-opacity, 1)
  ) !important;
}

.table-primary {
  --bs-table-bg: var(--jk-color-primary);
  --bs-table-color: #fff;
  --bs-table-border-color: color-mix(
    in srgb,
    var(--jk-color-primary),
    black 20%
  );
}

.table-secondary {
  --bs-table-bg: var(--jk-color-secondary);
  --bs-table-color: var(--jk-color-dark);
  --bs-table-border-color: color-mix(
    in srgb,
    var(--jk-color-secondary),
    black 20%
  );
}
