:root {
    /*color palette */
    /*reference: https://colorhunt.co/palette/3368a066a3bfc8dfdbf2efe7 */

    --kiltro-color-one: #3368A0;
    --kiltro-color-two: #66A3BF;
    --kiltro-color-three: #C8DFDB;
    --kiltro-color-four: #F2EFE7;

}
html {
    background-color: var(--kiltro-color-two);
}

